{% extends "main.html" %}
{% block title%}LoL Dreams - Homepage{% endblock %} 
{% block content%} 
<style> 
	.champion-image { max-width:50px; } 
	.champion-title { padding-left:5px; } 
	.champion_select { width: 100%; } 
	.region_select { width: 100%; } 
	.logo { max-width:100%; border-radius: 15px; } 
	.champion-result>tbody>tr>td { border-style:none; vertical-align:middle; font-weight:bold;}

</style>

<div class="container">

	<img class='logo' src='http://farm4.staticflickr.com/3712/11613708236_ebfec138b7_o.png'></img>
	
	<div class="page-header">
		<h1 style="color:white">Query a Champion Combination</h1>
	</div>

	<div class="row">
		<div class="col-md-2">
			<select class="region_select" id="region_select">
				<option value="na">North America</option>
				<option value="euw">Europe West</option>
				<option value="eune">Europe Nordic & East</option>
			</select>
		</div>
		<div class="col-md-8">
			<select multiple class="champion_select" id="champion_select">
				{% for champion in champions %}
					<option value="{{ champion.riotid }}">{{ champion.full_name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<label><input class='tierselect' name='0' type="checkbox" checked='true'> Challenger</label><br>
			<label><input class='tierselect' name='1' type="checkbox" checked='true'> Diamond 1</label>
		</div>
	</div>

	<div id="results" hidden=true>
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default panel-info">
					<div class="panel-heading">Match Statistics</div>
					<div class="panel-body">
						<table>
							<tr>
								<td style="font-weight:bold;">Win Rate: </td><td><div id="result_winrate"></div></td>
							</tr>
							<tr>
								<td style="font-weight:bold;">Sample Size: </td><td><div id="result_samplesize"></div></td>
							</tr>
						</table>
					</div>
				</div>
				
				<br>
				{% if comments_enabled %} {% include "disqus.html" %} {% endif %}

			</div>
			<div class="col-md-4">
				<button id="evaluate_team" type="button" class="btn btn-success"><span class="glyphicon glyphicon-tasks"></span> Get Recommendations</button>
				<center><div id='spinner_container'><br><br><div id='spinner'></div></div></center>
				<div id="reccomendations_table"></div>
			</div>
		</div>
	</div>
	
	<div id="query_error" hidden=true class="row">
		<div class="col-md-12">
			<br>
			<div class="alert alert-danger">Could not find results.</div>
		</div>
	</div>
	<br>
	
	<p id='numgames' align="right"> Tracking {{ numgames }} games across NA, EUW, and EUNE.</p>
</div>

<script>
CHAMPIONS = [
	{% for champion in champions %}
		{
			"id" : "{{ champion.riotid }}",
			"name" : "{{ champion.name }}",
			"full_name" : "{{ champion.full_name }}"
		},
	{% endfor %}
]

function idToFullName(id) {
	for(var i = 0; i < CHAMPIONS.length; ++i) {
		if(CHAMPIONS[i].id == id) {
			return CHAMPIONS[i].full_name;
		}
	}
}

var champion_version = "3.15.5";
function getChampionThumbnail(name) {
	return "http://ddragon.leagueoflegends.com/cdn/" + champion_version + "/img/champion/" + name + ".png";
}

function formatResult(champion) {
	var data = null;
	
	for(var i = 0; i < CHAMPIONS.length; ++i) {
		if(CHAMPIONS[i].id == champion.id) {
			data = CHAMPIONS[i];
		}
	}
	
	var markup = "<table  class='champion-result'><tr>";
	markup += "<td class='champion-image-container'><img class='champion-image' src='" + getChampionThumbnail(data.name) + "'/></td>";
	markup += "<td class='champion-info'><div class='champion-title'>" + data.full_name + "</div></td>";
	markup += "</tr></table>"
	
	return markup;
}

function formatSelection(champion) {
	return champion.text;
}
	
$(document).ready(function() {
	$("#region_select").select2({});
	
	$("#champion_select").select2({
		//maximumSelectionSize: 5,
		formatSelection: formatResult,
		formatResult: formatResult
	});
	
	function update_winrate() {
		var champions = $("#champion_select").val();
		var region = $("#region_select").val()
		var tiers = $(".tierselect:checked").map(function() { return this.name }).get()
		
		var param_url = $.param({
			region : region,
			id : champions,
			tier : tiers
		}, true)
		window.location.hash = '!' + param_url;
		
		if(champions && region && tiers.length > 0) {
			$('#numgames').fadeOut()
			
			var url = "/win_rate?" + param_url;
			
			$.getJSON( url , function( data ) {
				if( data.winrate ) {
					{% if comments_enabled %} 
					DISQUS.reset({
					  reload: true,
					  config: function () {
						var sorted = champions.sort();
						var names = $.map(sorted, idToFullName );
						
						this.page.identifier = sorted.join(':');
						this.page.url = window.location.href;
						this.page.title = names.join(', ');
					  }
					});
					{% endif %}
					
					$("#results").slideDown()
					$("#query_error").slideUp()
					
					$('#result_winrate').html(Math.round( data.winrate * 100) + "%")
					$('#result_samplesize').html(data.sample_size)
				}
				else {
					$("#results").slideUp()
					$("#query_error").slideDown()
				}
			} );
		}
		else {
			$("#results").slideUp()
			$("#query_error").slideUp()
			$('#numgames').fadeIn()
		}
		
		$('#reccomendations_table').html("");
		$('.progress').hide()
		$('#evaluate_team').show()
	}
	
	$("#champion_select").on("change", update_winrate );
	$("#region_select").on("change", update_winrate );
	$(".tierselect").change( update_winrate );
	
	//First get version numbers needed for obtaining champion thumbnails
	var na_json = "http://ddragon.leagueoflegends.com/realms/na.json";
	$.getJSON( na_json , function( data ) {
		
	});

	
	function reccomendations_table_html(reccomendations) {
		if( reccomendations.length > 0 ) {
			html = "<table class='tablesorter tablesorter-ice'>";
			html += "<thead><tr><th>Champion</th><th>Win Rate</th><th>Sample Size</th></tr></thead>"
			
			html += "<tbody>"
			$.each(reccomendations, function(index, champion) {
				html += "<tr>";
				
				html += "<td>" + formatResult(champion) + "</id>";
				html += "<td>" + Math.round( champion.winrate * 100) + "%" + "</id>";
				html += "<td>" + champion.sample_size + "</id>";
				
				html += "</tr>";
			});
			html += "</tbody>"
			
			html += "</table>";
		
			return html;
		}
		else {
			return "<div class='alert alert-danger'>Could not get reccomendations.</div>";
		}
	}
	
	var spinner = new Spinner().spin( document.getElementById('spinner') );
	$("#spinner_container").hide()
	
	//Reccomendation search
	$('#evaluate_team').click(function() {
		$('#evaluate_team').hide()
		
		var region = $("#region_select").val();
		var champions = $("#champion_select").val();
		var tiers = $(".tierselect:checked").map(function() { return this.name }).get();
		
		var url = "/reccomendations?" + $.param({
			region : region,
			id : champions,
			tier : tiers
		}, true)
		
		$("#spinner_container").show()
		
		$.getJSON( url , function( data ) {
			$("#spinner_container").hide()
			if(data.error) {
				$('#reccomendations_table').html( reccomendations_table_html( [] ) )
			}
			else {
				$('#reccomendations_table').html( reccomendations_table_html( data.champions ) )
				$(".tablesorter").tablesorter( {
                    sortList: [[1,1]]
                });
			}
		});
	});
	
});
</script>

{% endblock %}
