<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<title>{% block title%}LoL Dreams{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css" rel="stylesheet">
		
		<style>
		html {
			height: 100%
		}
		body {
			background:url("http://www.loldreams.com/bggradient.png");
			background-repeat: repeat-x;
			background-color: #17152A;
		}		
		#maincontent {
			background-color:#FFFFFF;
			padding-bottom:25px;
			padding-left:30px;
			padding-right:30px;
		}
		.logo { width:100%; max-width:750px; }
		</style>
	
		{% include "google_analytics.html" %}
	</head>
	<body>

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	
	<!-- Select2 -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.css" rel="stylesheet"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.js"></script>
	
	<!-- Tablesorter -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.ice.css" rel="stylesheet"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js"></script>
	
	<!-- Spin.js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
	
	<!-- PURL -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
	
	<!-- JQuery UI -->
	<script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
	<link href="//code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" />
	
	{% include "navbar.html" %}
	
	<center><img class='logo' src='http://www.loldreams.com/logo/1140w_trans.png'></img></center><br>

	<div id="maincontent" class="container">
		{% block content%}
		{% endblock %}
	</div>
	
	{% include "footer.html" %}
	<br>
	
	{% if ads_enabled %}
		<div class="container" style="overflow:hidden;">
			{% include "adsense/responsive.html" %}
		</div>
		<br>
	{% endif %}
	
  </body>
</html>
