<style>
	.navbar-inverse {
		background-color: #563D7C;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background-color: #463265;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #563D7C;
	}
	.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
		background-color: #463265;
	}
</style>

<!-- Docs master nav -->
<header class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li {% if page_name == 'home' %} class='active' {% endif %}  >
					<a href="{% url 'loldreams:home' %}">Home</a>
				</li>
				<!--<li>
					<a href="/rankings">Champion Rankings</a>
				</li>-->
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<!--<li {% if page_name == 'about' %} class='active' {% endif %}  >
					<a href="/about">About</a>
				</li>-->
				<li>
					<a href="https://docs.google.com/forms/d/1w9vlLhlskdo3m0_SOrkXedDRjnKvZKkSrBKCMvvi8MM/viewform">Submit Feedback</a>
				</li>
			</ul>
		</nav>
	</div>
</header>